<%= form_for current_user.q_relationships.build(:q_followed_id => @user.id),
			:remote => true do |f| %>
	<div><%= f.hidden_field :q_followed_id %></div>
	<div class="actions"><%= f.submit "Follow"%></div>
<% end %>