<%= @user.name %>,

Thank you for registering to Mondai.me!

<a href="http://mondai.me">Mondai</a> is the best way to discover your campus and get your questions answered by the people around you.

If you need any help, or simply want to say "hi" get in touch with the Mondai team: mondai.team@gmail.com

http://www.mondai.me