<p><%= @user.name %>,</p>

<p>Thank you for registering to Mondai.me!</p>

<p>
	<a href="http://mondai.me">Mondai</a> is the best way to discover your campus and get your questions answered by the people around you.
</p>

<p>
	If you need any help, or simply want to say "hi" get in touch with the Mondai team: team@mondai.me
</p>
<p>
	http://www.mondai.me	
</p>