<div id="bigimage">
	Put big image here.
</div>
<br />
<div id="footer">
	<div id="header">
		<h1>Question your campus</h1>
		<p>
			The best place to find out about your campus
		</p>
	</div>
	<div id="footersignin">
		<p>
			Sign in to join our private beta.
		</p>
		<%= big_primary_button_link_to "Sign Up With Facebook", user_omniauth_authorize_path(:facebook), :class => "popupp", :"data-width" => 600, :"data-height" => 400 %>
	</div><!-- #footersignin -->
</div>
<div id="box">
	Some content
	<a href="#" class="close">Close </a>
</div>
<div id='screen'>
</div>

