<div id="bigimage">

</div>
<div id="footer">
	<div id="header">
		<h1>Question your campus</h1>
		<span id="tag">
			The best place to find out about your campus
		</span>
	</div>
	<div id="footerbottom">
		<div id="footersignin">
			<p>
				<h4>Sign in to join our private beta with your facebook.</h4>
			</p>
			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class=> "ir social" %>
		</div><!-- #footersignin -->
		<div id="footeregister">
			<p>
				<h4>If you would like your campus to have this service, fill out the form.</h4>
			</p>
			<p>
				<form>
				Campus : <input type="text" name="firstname" /><br />
				Email : <input type="text" name="lastname" />
				</form>
			</p>
		</div><!-- #footerregister -->
	</div><div class="clear"></div>
	<div id="bottomabout">

	</div><!-- #bottomabout -->
</div>

<div id="box">
	<h1>Ask and learn about your campus.</h1>
	<h2>Mondai.me helps you find the best answers about Binghamton University</h2>
	<p>
		Ask questions to fellow students about courses, professors and events.
	</p>
	<p>
		What is the best Art course?
	</p>
	<p>
		What is the best Pizza place downtown?
	</p>
	<p>
		What event is happening tonight?
	</p>
	<a href="#" class="close">Close </a>
</div>
<div id='screen'>
</div>


