<style type="text/css" media="screen">
	#footer{
		margin-top:0px;
	}
	body {
        overflow: hidden;
	}
</style>
<body>
<div id="bigimage">
</div>
<div id="middleAbout">
	<div id="header">
		<h1>DISCOVER YOUR CAMPUS AND GET THE BEST ANSWERS TO YOUR QUESTIONS</h1>
	</div>
	<div id="footerbottom">
		<div id="footersignin">
			<h2>Sign in to join our beta with your facebook account or Click on public preview to get a sneak peak!</h2>
			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class=> "ir social" %>
			<a class="small blue awesome" href="http://mondai.me/public">Continue without Logging In&raquo;</a>
			<p>Start To Question Your Campus!</p>
			<small>Want this service for your campus too? Let us know and we'll be in touch!</small>
		</div><!-- #footersignin -->
	</div>
</div><div class="clear"></div>
<div class="clear"></div>
</div>
</body>
<script src="http://connect.facebook.net/en_US/all.js#appId=233421873346550&amp;xfbml=1"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>


