<style type="text/css" media="screen">
	#footer{
		margin-top:270px;
	}
	body {
        overflow: hidden;
	}

</style>
<body>
<div id="bigimage">
</div>
<div id="middleAbout">
	<div id="header">
		<h1>Discover your campus and get the best answers to your questions</h1>
	</div>
	<div id="footerbottom">
		<div id="footersignin">
			<h2>Sign in to join our private beta with your facebook</h2>
			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class=> "ir social" %>
			<p>Question Your Campus</p>
		</div><!-- #footersignin -->
	</div>
</div><div class="clear"></div>
<div class="clear"></div>
</div>
</body>
<script src="http://connect.facebook.net/en_US/all.js#appId=233421873346550&amp;xfbml=1"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>


